<header class="@(ThemeService.Theme == Theme.Light ? "light--main" : "dark--main")">
    <a href="">
        <img class="header__logo" src="@(ThemeService.Theme == Theme.Dark ? Assets["favicon-dark.png"] : Assets["favicon.png"])" alt="imageSharing logo" />
    </a>
    <div class="header__buttons">
        <i class="header__icon header__icon--mode @(ThemeService.Theme == Theme.Light ? "light" : "dark")" @onclick="ThemeService.ToogleTheme"></i>
        <a href="#" class="header__login text--hover @(ThemeService.Theme == Theme.Light ? "light--text" : "dark--text")">Login</a>
        <a href="#" class="header__register text--hover @(ThemeService.Theme == Theme.Light ? "light--text" : "dark--text")">Register</a>
    </div>
    <form class="header__form">
        <input class="header__search @(ThemeService.Theme == Theme.Light ? "light--main" : "dark--main")" type="text" placeholder="@(SearchService.SearchBy == SearchOption.None ? "Search" : SearchService.SearchBy == SearchOption.Title ? "Search by title" : "Search by tags")" minlength="3" />
        <select class="header__select @(ThemeService.Theme == Theme.Light ? "light--main" : "dark--main") @(ThemeService.Theme == Theme.Light ? "light--text" : "dark--text")" id="searchMethod" @onchange="SearchService.ChangeSearchOption">
            <option disabled selected hidden>Search by</option>
            <option  value="title">Title</option>
            <option value="tags">Tags</option>
        </select>
        <input class="header__submit text--hover @(ThemeService.Theme == Theme.Light ? "light--text" : "dark--text")" type="submit" value="Search" />
    </form>
</header>
